@charset "EUC-KR";

body {
	    font-family: 'NanumSquare', sans-serif !important;
	}

   .carousel {
      overflow-x: auto;
   }
   
   
   nav{
	border-bottom: 2px solid gray;
   }



	body.homepage.is-preload #header:after {
		opacity: 0;
	}
	
	#main_img{
		float:left;
		position : relative;
		background: url(../images/alfons-morales-YLSwjSy7stw-unsplash.jpg);
		background-size: cover;
		width:100%;
		height:500px;
	}
	
	#title span{		
		font-family: 'Noto Serif TC', serif;
		font-weight: 500;
	}
	
	#banner .main_title {
		color: white;
		font-weight: 600;
		text-shadow: 2px 2px 5px gray;
	}