@charset "EUC-KR";

input.icon_search_submit{
	background: url(images/icon_search.png);
	width:40px; 
    height:40px; 
    border: 0;
    background-size: 100%; /* To fill the dimensions of container (button)*/
    cursor: pointer;


}