@charset "EUC-KR";

@charset "EUC-KR";


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;}
   

a{
      text-decoration: none;
      color:black;
   }
   
#layout{
   margin-left:420px;
   margin-right:420px;
}   

   
#title{
      float:left;
      width:400px;
      height:80px;
      margin-top:20px;
      
   }
   
#title span{      
      text-decoration:none;
      font-size:30px;
      text-align:right;
      padding: 10px 8px 5px 8px;
      margin-left:70px;
      margin-top:10px;
   }
   
   
   
.menu{
   float:left;
   width:600px;
   margin-top:20px;
   text-align:right;
}

.menu li{
      float:left;
      list-style:none;
      text-align:right;
      text-size:18px;
      padding: 5px 30px 20px 8px;
   }
   
 
   
   
#foot{
   
   float:left;
   background-color:#F6F6F6;
   bottom: 0;
   width: 100%;
   height:300px;
}

#foot .all{
   margin-top:50px;
   margin-left:450px;
}

#foot .all span{
   font-size:18px;
   padding: 0px 50px 0px 0px;
}

.company{
   font-size:15px;
   font-weight:bold;
}

input.icon_search_submit{
	background: url(images/icon_search.png);
	width:40px; 
    height:40px; 
    border: 0;
    background-size: 100%; /* To fill the dimensions of container (button)*/
    cursor: pointer;


}